<h1>Active Users</h1>

<table class="table">
  <thead>
    <tr>
      <th class="table-dark bg-primary">Name</th>
      <th class="table-dark bg-primary">Email</th>
      <th class="table-dark bg-primary" colspan="3"></th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tr>
    <td class="table-elt"><%= user.name %></td>
    <td class="table-elt"><%= user.email %></td>
    <td class="table-elt"><%= link_to 'Show', user %></td>
    <% if logged_in? %>
      <% if user.id == current_user.id %>
         <td class="table-elt"><%= link_to 'Edit', edit_user_path(user) %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
